* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  position: relative;
  background-image: linear-gradient(
    to right top,
    #55d893,
    #49c98e,
    #3ebb88,
    #34ac81,
    #2c9e7a,
    #279572,
    #218c6b,
    #1c8363,
    #167d59,
    #127750,
    #0d7146,
    #0a6b3c
  );
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

nav {
  padding: 10px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.logo {
  font-size: 2rem;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}

.add-btn {
  font-size: 1rem;
  cursor: pointer;
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  line-height: 1;
  border-radius: 500px;
  transition-property: background-color, border-color, color, box-shadow, filter;
  transition-duration: 0.3s;
  border: 1px solid transparent;
  letter-spacing: 2px;
  min-width: 160px;
  text-transform: uppercase;
  white-space: normal;
  font-weight: 700;
  text-align: center;
  padding: 16px 14px 18px;
  color: #333;
  background-color: #e2e2e2;
  height: 48px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.add-btn:hover {
  box-shadow: none;
}

.form-control {
  position: absolute;
  display: flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

form {
  padding: 20px 30px;
  position: relative;
}

form h3 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  white-space: normal;
}

.input-control {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 12px;
}

.input {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.input label {
  font-size: 1.2rem;
  margin-bottom: 2px;
}

.input input {
  width: 100%;
  padding: 5px;
  border-radius: 4px;
  border: 2px solid #f0f0f0;
}

.button-control .add {
  margin-right: 2px;
  font-size: 1rem;
  cursor: pointer;
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  line-height: 1;
  border-radius: 500px;
  transition-property: background-color, border-color, color, box-shadow, filter;
  transition-duration: 0.3s;
  border: 1px solid transparent;
  letter-spacing: 2px;
  min-width: 160px;
  text-transform: uppercase;
  white-space: normal;
  font-weight: 700;
  text-align: center;
  padding: 16px 14px 18px;
  color: #fff;
  background-color: #5ac2a6;
  height: 48px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.button-control .cancel,
.card-control .card button {
  margin-top: 1rem;
  margin-left: 2px;
  font-size: 1rem;
  cursor: pointer;
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  line-height: 1;
  border-radius: 500px;
  transition-property: background-color, border-color, color, box-shadow, filter;
  transition-duration: 0.3s;
  border: 1px solid transparent;
  letter-spacing: 2px;
  min-width: 160px;
  text-transform: uppercase;
  white-space: normal;
  font-weight: 700;
  text-align: center;
  padding: 16px 14px 18px;
  color: #fff;
  background-color: #c83030;
  height: 48px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.input-control button:hover {
  box-shadow: none;
}

.check-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.check-box label {
  font-size: 1.2rem;
  margin-right: 10px;
}

.check-box input {
  width: 15px;
  height: 15px;
}

.card-control {
  display: flex;
  padding: 20px;
  gap: 20px;
}

.card-control .card {
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.card-control .card h3 {
  text-transform: uppercase;
  font-size: 1.2rem;
}

.card-control .card p {
  font-size: 1.2rem;
}

.card-control .card .title,
.author,
.pages {
  display: flex;
  align-items: center;
  gap: 15px;
}
